* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.section {
    padding: 2% 12%;
    flex: 1 1 0;
    min-block-size: 500px;
}

header, footer {
    padding: 0 12%;
    flex: 0 0 0;
    min-block-size: 80px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.one {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding-top: 6%;
    padding-bottom: 6%;
    gap: 20px;
}

.one-item {
    flex: 1 1 0;
    width: 100%;
    height: 90%;
}

.one-item.one-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.sub-title, .footer-text {
    color: #E5E7EB;
    font-size: 18px;
}

.one button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
}

.two h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    flex-grow: 0;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustrations {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    flex-grow: 2;
    margin: 16px;
}

.two-item {
    width: 200px;
    flex-grow: 1 0 0;
}

.illustration {
    width: 160px;
    height: 160px;
    border: solid 4px #3882F6;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.chipmunk img {
    margin-left: -44px;
    height: 100%;
}

.fawn img {
    margin-top: -120px;
    margin-left: -18px;
    width: 120%;
}

.fox img {
    width: 170%;
    margin-left: -57px;
    margin-top: -20px;
}

.owl img {
    width: 150%;
    margin-top: -56px;
    margin-left: -40px;
}

.illu-text {
    text-align: center;
    width: 160px;
    margin: 10px auto;
    font-size: 18px;
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;

}

.author {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: #3882F6;
    border-radius: 10px;
}

.panel-item {
    flex-grow: 0.5;
}

.panel-item p, h4 {
    color: #F9FAF8;
    font-size: 110%;
    margin: 8px 0;
}

.four button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 8px;
    border: solid 2px #F9FAF8;
    font-weight: bold;
    font-size: 110%;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}